accessible-pygments==0.0.5
alabaster 
anyio==4.4.0
Babel 
beautifulsoup4==4.12.3
Brotli 
certifi 
charset-normalizer 
click==8.1.7
colorama==0.4.6
docutils 
h11==0.14.0
idna 
imagesize 
Jinja2 
MarkupSafe 
packaging 
pydata-sphinx-theme==0.15.4
Pygments 
PySocks 
pytz 
requests 
setuptools==72.1.0
sniffio==1.3.1
snowballstemmer 
soupsieve==2.6
Sphinx 
sphinx-autobuild==2024.4.16
sphinx-book-theme==1.1.3
sphinx-rtd-theme==2.0.0
sphinx-tabs==3.4.5
sphinx_contributors==0.2.7
sphinx_design==0.6.1
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
starlette==0.38.2
typing_extensions==4.12.2
urllib3 
uvicorn==0.30.6
watchfiles==0.23.0
websockets==12.0
wheel==0.43.0
